.skills-section {
  background-image: url('../images/skillsbg.jpg');
  height: 100vh;
}

.skills-section h1 {
  color: white;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

.skills-buttons {
  text-align: center;
}

.skills-groups {
  display: block;
}

.skills-group {
  width: 100%;
  background-color: white;
  padding: 10px;
  text-align: center;
  margin: 20px 0;
}

.skills-group ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.skills-group li {
  list-style: none;

}

.skills-group li img{
 height: 80px;
 width: 80px;
 margin: 0 20px 20px 20px;
}

.skills-group li P{
  font-size: 30px;
  font-weight: bold;
 }

.skills-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 1px solid black;
}


/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
}